.container
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #c0c0c0;
    background-color: #fff;
    line-height: 20px;
    border-radius: 5px;
    min-height: 200px;
}

div#content
{
    margin: 10px 10px 10px 10px;
}

.divTable
{
    display: table;
    width: 550px;
    background-color: #ffffff;
    border: 1px solid #666666;
    border-spacing: 1px;
    border-radius: 5px; /*cellspacing:poor IE support for  this*/ /* border-collapse:separate;*/
}

.headRow
{
    display: table-row;
    background-color: #eee;
    height: 19px;
    font-weight: 300;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divRow
{
    display: table-row;
    background-color: #ccc;
    width: auto;
    height: 19px;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divAltRow
{
    display: table-row;
    background-color: #fff;
    width: auto;
    height: 19px;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divCell1
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 300px;
}
.divCell2
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 50px;
}
.divCell3
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 100px;
}
.divCell4
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 50px;
}
