/* background - #f5f5f5, border - #ccc, table head - #8C8C8C, table alternate row - #C4C4C4 */
body
{
    background: #f5f5f5;
    margin-top: 5px;
    font-family:Verdana, Arial,  Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000
}

.my-container
{
    width: 605px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ccc;
    background-color: #fff;
    line-height: 20px;
    border-radius: 5px;
    min-height: 200px;
}

.my-content
{
    margin: 10px 10px 10px 10px;
}

.emlPgHeader
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom:5px;
}

.emlPgFooter
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px; 
    color:#C0C0C0;    
}

.divTable
{
    display: table;
    width: 550px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-spacing: 1px;
    border-radius: 5px; /*cellspacing:poor IE support for  this*/ /* border-collapse:separate;*/
}

.headRow
{
    display: table-row;
    background-color: #8C8C8C;
    color:#000;
    height: 19px;
    font-weight: 300;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divRow
{
    display: table-row;
    background-color: #fff;
    width: auto;
    height: 19px;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divAltRow
{
    display: table-row;
    background-color: #C4C4C4;
    width: auto;
    height: 19px;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divCell1
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 350px;
}
.divCell2
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 75px;
}
.divCell3
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 125px;
}
.divCell4
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 50px;
}
