/* background - #F4F8FA  border - #EEF5FB  table head - need to change - #DDE7F5 table head - need to change - #DDE9F7 */

body
{
    background: #F4F8FA;
    margin-top: 10px;
    font-family:Verdana, Arial,  Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000
}

.my-container
{
    width: 605px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #EEF5FB;
    background-color: #fff;
    line-height: 20px;
    border-radius: 5px;
    min-height: 200px;
}

.my-content
{
    margin: 10px 10px 10px 10px;
}

.emlPgHeader
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;    
    margin-bottom:5px;
}

.emlPgFooter
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px; 
    color:#100B79;    
}

.divTable
{
    display: table;
    width: 550px;
    background-color: #ffffff;
    border: 1px solid #EEF5FB;
    border-spacing: 1px;
    border-radius: 5px; /*cellspacing:poor IE support for  this*/ /* border-collapse:separate;*/
}

.headRow
{
    display: table-row;
    background-color: #94B5DF;
    color:#000;
    height: 19px;
    font-weight: 300;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divRow
{
    display: table-row;
    background-color: #fff;
    width: auto;
    height: 19px;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divAltRow
{
    display: table-row;
    background-color: #E1EBF7;
    width: auto;
    height: 19px;
    vertical-align: middle;
    padding: 2px 2px 2px 2px;
}

.divCell1
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 300px;
}
.divCell2
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 50px;
}
.divCell3
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 100px;
}
.divCell4
{
    float: left; /*fix for  buggy browsers*/
    display: table-column;
    width: 50px;
}
